// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'
body
    color: rgba(0,0,0,.84);
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: rgba(0,0,0,.84);
    font-size: 20px;
    line-height: 1.4;
.theme--light.application {
    background: white;
    color: rgba(0,0,0,0.87);
}
a   
    text-decoration: none
i, cite, em, var, address, dfn {
    font-style: italic;
    font-weight: 400
}
code {
    background-color: rgba(0,0,0,.05);
    color: black;
    white-space: pre-wrap;
    font-family: Menlo,Monaco,"Courier New",Courier,monospace;
    // font-size: 16px
    box-shadow: none;
    font-weight: 400
    word-break: break-word;
}
code:after, kbd:after, code:before, kbd:before{
    content:''
}
.article-content
    .hljs
        padding: 0
    font-size: 21px;

    pre,figure,blockquote
        margin-top: 43px;

    p 
        margin-top: 29px;
        --x-height-multiplier: 0.375;
        --baseline-multiplier: 0.17;
        letter-spacing: .01rem;
        font-weight: 400;
        font-style: normal;
        font-size: 21px;
        line-height: 1.58;
        letter-spacing: -.003em;
  
    h1,h2,h3
        font-size: 1.5rem;
        margin-bottom: .5rem;
        margin-top: 56px
        font-size: 34px;
        line-height: 1.15;
        letter-spacing: -.015em;
    h4  
        font-size: 26px;
        line-height: 1.22;
        letter-spacing: -.012em;
        margin-top: 31px;
    a
        // font-weight: 600;
        background-image: linear-gradient(to right,currentColor 100%,currentColor 0);
        background-size: 1px 1px;
        background-position: 0 calc(1em + 1px);
        background-repeat: repeat-x;
    pre 
        code
            width: 100%
            font-weight: 400;
            font-style: normal;
            // background: none
            word-break: break-word;
            padding: 1rem
            font-size: 16px;
    blockquote
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 40px;
        margin-inline-end: 40px;
        margin-top: 38px
        --x-height-multiplier: 0.375;
        --baseline-multiplier: 0.17;
        letter-spacing: .01rem;
        font-weight: 400;
        font-size: 21px;
        line-height: 1.58;
        letter-spacing: -.003em;
        border-left: 3px solid rgba(0,0,0,.84);
        padding-left: 20px;
        margin-left: -23px;
        padding-bottom: 2px;
        p 
            @extend .font-italic;
            margin-bottom: 0
    ul,ol
        margin-top: 29px
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        li 
            --x-height-multiplier: 0.375;
            --baseline-multiplier: 0.17;
            letter-spacing: .01rem;
            font-weight: 400;
            font-style: normal;
            font-size: 21px;
            line-height: 1.58;
            letter-spacing: -.003em;
            margin-left: 30px;
            margin-bottom: 14px;
            display: list-item;
            text-align: -webkit-match-parent;